body {
    background-image: url("../images/hands.jpg");
    
    color: white;
    font-family: 'Pontano Sans', sans-serif;
}

.container{
    color: purple;
}

.jumbotron {
    margin-top: 15px;
    background-color: rgb(233, 230, 230);
}
