body{
    font-family: 'Pontano Sans', sans-serif;
    background-image: url("../images/heart.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#sub-button {
    margin-top: 10px;
}

#home-button    {
    margin-top: 10px;
    background-color: gold;
    color: black;
}
.modal-content {
    color: white;
    background-color: black;
}
.modal-header {
    background-color: rgb(247, 160, 175);
    text-align: center;
}
.modal-footer   {
    background-color:  rgb(247, 160, 175);
}
#modal-button   {
    background-color: purple;
}