body {
    background-image: url("../images/myfriends.jpg");
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    color: white;
    font-family: 'Pontano Sans', sans-serif;
}

.container{
    color: purple;
}

.jumbotron {
    margin-top: 15px;
    background-color: rgb(233, 230, 230);
}
